/*external styling*/
#ext_style {
	color: yellow;
}

/*universal styling*/
* {
	font-family: "Verdana",sans-serif;
	font-family: 20px;
}

/*type selector*/
h1 {
	font-size: 40px;
}

/*ID selector*/
#h2_tag {
	text-transform: uppercase;
}

/*class selector*/
.lang_learn {
	background-color: olive;
	border: 	none;
}

li[target] {
	border: 1px solid lightblue	;
}


/*adjacent sibling selector*/
img + ul {
	list-style-type: none;
}

/*descendant selector*/
section	 img {
	width: 	100px;
	height: 	100px;
	border-radius: 	150px;
}


/*Generic Sibling Connector*/
h4 ~ p {
	text-align: 	center;
}


/*Child selector*/
body > section	> ul > li {

letter-spacing: 10px;

}